 html, body, #map-canvas {
        height: 700px;
        margin: 0px;
        padding: 0px;

      }
      .a-title{
        text-align: center;
      }
      .a-header div:first-child{
        float: left;
      }
      .a-header div:last-child{
        float: right;
        width: 30%
      }
      .a-header div:last-child p{
            margin: 0 10px 0px 0px;
            display: inline-block;
      }